$cv-bg-color: rgb(253, 253, 253);
$cv-bg-primary-color: rgba(3, 73, 165, 0.97);
@mixin handleScroll {
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: rgb(55, 55, 55);
}

.App {
  margin: 0.4rem auto;
  padding: 1rem 4rem;
  background-color: #f0f8ff;
  max-width: 190rem;
  height: 99vh;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 10rem 1fr 5rem;
  gap: 0.3rem;
  .footer {
    box-shadow: 0 0 1rem 0.1rem rgb(173, 125, 125);
  }

  .side-bar,
  .cv-container {
    @include handleScroll();
  }
}

.navigation {
  padding: 2rem 5rem;
  grid-column: span 2;
  @include flex();
  justify-content: space-between;

  font-size: 2rem;
  font-weight: 900;

  p {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
    padding-left: 0.4rem;

    span {
      font-size: 1.2em;
      font-style: italic;
    }
    &:hover {
      transform: translateX(10%);
      border-left: solid 0.7rem red;
    }
  }

  div {
    @include flex();
    justify-content: space-evenly;
    gap: 2rem;
    text-transform: capitalize;

    a,
    span {
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    a:hover,
    span:hover {
      transform: translateY(-10%);
      border-bottom: solid 0.2rem red;
    }

    a {
      text-decoration: none;
    }

    span {
      font-weight: 100;
      font-style: oblique;

      &:hover {
        color: rgb(189, 61, 61);
      }
    }
  }
}

.side-bar {
  grid-row: span 2;
  padding: 4rem 2rem;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.09);

  @include flex();
  flex-direction: column;
  gap: 6rem;
  justify-content: start;

  .general-page-description {
    width: 45ch;
    padding-top: 3rem;

    p {
      letter-spacing: 0.2rem;
      font-size: 1.8rem;
    }
  }

  .cards {
    @include flex();
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
}

// CARD STYLE

.card {
  background-color: beige;
  padding: 2rem;
  @include flex();
  flex-direction: column;
  gap: 1.3rem;
  justify-content: start;
  width: 45rem;

  h3 {
    font-size: 2.3rem;
    text-transform: capitalize;
  }

  p {
    font-size: 1.8rem;
  }

  button {
    font-size: 2.2rem;
    padding: 0.6rem 10rem;
    border: 0;
    border-radius: 0.5rem;

    span {
      transition: all 1s;
      position: relative;
      top: 0;
    }

    &:hover span {
      top: 2rem;
    }
  }
}

// CV STYLE

.cv-container {
  @include flex();
  flex-direction: column;
  justify-content: start;
  gap: 3rem;

  .top {
    width: 88%;
    @include flex();
    justify-content: space-between;

    p {
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      text-transform: capitalize;
    }

    div {
      font-size: 1.9rem;

      @include flex();
      gap: 2.5rem;

      select,
      input {
        margin-left: 1rem;
      }

      label {
        @include flex();
      }

      input {
        width: 3rem;
        height: 3rem;
        border: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

.cv {
  width: 93%;
  padding: 3rem;
  background-color: $cv-bg-color;
  box-shadow: 0 0 9px 0 rgba(51, 51, 51, 0.573);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: rgb(220, 220, 220);

    .personal-description {
      width: 75%;
      background-color: $cv-bg-primary-color;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1rem;

      &::before {
        position: absolute;
        content: '';
        background-color: $cv-bg-primary-color;
        width: 5%;
        height: 100%;
        left: -3rem;
        z-index: -1;
      }

      h2 {
        font-size: 3.2rem;
        text-transform: capitalize;
      }

      h4 {
        border-bottom: 2px solid brown;
        text-transform: capitalize;
      }
    }

    .image {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-color: $cv-bg-primary-color;
      @include flex();
      margin-right: 5rem;

      div {
        width: 95%;
        height: 95%;
        border-radius: 50%;
        background-color: $cv-bg-color;
        @include flex();
      }

      img {
        width: 94%;
        height: 94%;
        border-radius: 100%;
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 3rem;

    .left {
      // background-color: aquamarine;
      height: 150rem;
    }

    .right {
      // background-color: burlywood;
      height: 150rem;
    }
  }
}

.cv-card {
  width: auto;
  height: min-content;
  margin: 1.5rem;
  padding: 0.8rem;
  // background-color: bisque;
  position: relative;
  div {
    padding-left: 0.5rem;
  }

  // &::after,
  &::before {
    position: absolute;
    top: -3rem;
    font-size: 3rem;
    content: '⸇';
  }

  &::before {
    left: -1rem;
    transform: rotateY(-180deg) rotate(90deg);
  }
  // &::after {
  //   right: -1rem;
  //   transform: rotate(90deg);
  // }
}

.experience {
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;

  h5,
  h6 {
    color: rgb(107, 107, 107);
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.6rem;
  }

  span {
    margin-left: 0.3rem;
  }
}

// FOOTER STYLE
.footer {
  // rule
  background-color: brown;
}

// UN USED ANIMATION
@keyframes move-down {
  from {
    top: 0;
  }
  to {
    top: 3rem;
  }
}
