@mixin handleScroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.App {
  margin: 0.4rem auto;
  padding: 1rem 4rem;
  background-color: #f0f8ff;
  max-width: 190rem;
  // check for over flow ...
  height: 110vh;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 10rem 1fr 5rem;

  .class1 {
    background-color: rgb(122, 75, 75);
    grid-column: span 2;
  }
  .class2 {
    background-color: rgb(88, 180, 68);
    grid-row: span 2;
    @include handleScroll();
  }
  .class3 {
    background-color: rgb(61, 180, 199);
    @include handleScroll();
  }
  .class4 {
    background-color: rgb(121, 40, 124);
  }
}
