$cv-bg-color: rgb(253, 253, 253);
$cv-bg-primary-color: #0349a5f7;
$cv-container-padding: 4rem;
@mixin handleScroll {
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: rgb(55, 55, 55);
}

.App {
  margin: 0.1rem auto;
  padding: 1rem 4rem;
  background-color: #f0f8ff;
  max-width: 190rem;
  height: 99vh;
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 10rem 1fr 1.5rem;
  gap: 0.3rem;

  .side-bar,
  .cv-container {
    @include handleScroll();
  }
}

.navigation {
  padding: 2rem 5rem;
  grid-column: span 2;
  @include flex();
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 900;

  box-shadow: 0 1px 1px 0 #dceeff;

  p {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
    padding-left: 0.4rem;

    span {
      font-size: 1.2em;
      font-style: italic;
    }
    &:hover {
      transform: translateX(10%);
      border-left: solid 0.7rem red;
    }
  }

  div {
    @include flex();
    justify-content: space-evenly;
    gap: 2rem;
    text-transform: capitalize;

    a,
    span {
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
    a:hover,
    span:hover {
      transform: translateY(-10%);
      border-bottom: solid 0.2rem red;
    }

    a {
      text-decoration: none;
    }

    span {
      font-weight: 100;
      font-style: oblique;

      &:hover {
        color: rgb(189, 61, 61);
      }
    }
  }
}

.side-bar {
  grid-row: span 2;
  padding: 4rem 2rem;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.09);

  @include flex();
  flex-direction: column;
  gap: 6rem;
  justify-content: start;

  .general-page-description {
    width: 45ch;
    padding-top: 3rem;

    p {
      letter-spacing: 0.2rem;
      font-size: 1.8rem;
    }
  }

  .cards {
    @include flex();
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
}

// CARD STYLE

.card {
  background-color: beige;
  padding: 1.5rem;
  @include flex();
  flex-direction: column;
  gap: 1.3rem;
  justify-content: start;
  width: 45rem;

  h3 {
    font-size: 2.3rem;
    text-transform: capitalize;
  }

  p {
    font-size: 1.8rem;
  }

  button {
    font-size: 2.2rem;
    padding: 0.6rem 10rem;
    border: 0;
    border-radius: 0.5rem;

    span {
      transition: all 0.3s;
      position: relative;
      top: 0;
    }

    &:hover .close {
      top: 1.5rem;
    }
    &:hover .open {
      top: -1.5rem;
    }
  }

  .del-btn,
  .add-btn {
    padding: 0.4rem 3rem;

    margin: 0.3rem;
  }

  .del-btn {
    background-color: rgb(160, 35, 35);

    &:hover {
      background-color: rgb(160, 35, 35, 0.8);
    }
  }

  div {
    width: 100%;
  }
}

// CV STYLE

.cv-container {
  @include flex();
  flex-direction: column;
  justify-content: start;
  gap: 3rem;
  font-family: Arial, Helvetica, sans-serif, monospace;
  .top {
    width: 88%;
    @include flex();
    justify-content: space-between;

    p {
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      text-transform: lowercase;
      font-style: italic;
    }

    div {
      font-size: 1.9rem;

      @include flex();
      gap: 2.5rem;

      select,
      input {
        margin-left: 1rem;
      }

      label {
        @include flex();
      }

      input {
        width: 3rem;
        height: 3rem;
        border: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

.cv {
  width: 93%;
  height: min-content;
  padding: $cv-container-padding;
  background-color: $cv-bg-color;
  box-shadow: 0 0 9px 0 rgba(51, 51, 51, 0.573);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  &__personal-information {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: rgb(220, 220, 220);

    .personal-description {
      width: 75%;
      background-color: $cv-bg-primary-color;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1rem;

      &::before {
        position: absolute;
        content: '';
        background-color: inherit;
        width: $cv-container-padding;
        height: 100%;
        left: -$cv-container-padding;
        z-index: -1;
      }

      h2 {
        font-size: 3.2rem;
        text-transform: capitalize;
      }

      h4 {
        border-bottom: 2px solid brown;
        text-transform: capitalize;
      }
    }

    .image {
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-color: $cv-bg-primary-color;
      @include flex();
      margin-right: 2rem;

      div {
        width: 95%;
        height: 95%;
        border-radius: 50%;
        background-color: $cv-bg-color;
        @include flex();
      }

      img {
        width: 94%;
        height: 94%;
        border-radius: 100%;
      }
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 3rem;
  }
}

.cv-card {
  width: auto;
  height: min-content;
  margin: 1.5rem;
  padding: 0.8rem;
  // background-color: rgb(78, 187, 31);
  position: relative;
  div {
    padding-left: 0.5rem;
  }

  // &::after,
  &::before {
    position: absolute;
    top: -3rem;
    font-size: 3rem;
    content: '⸇';
  }

  &::before {
    left: -1rem;
    transform: rotateY(-180deg) rotate(90deg);
  }
  // &::after {
  //   right: -1rem;
  //   transform: rotate(90deg);
  // }
}
.social-media {
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  width: 90%;

  li {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.3rem;

    span {
      height: 2rem;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.experience,
.personal-project,
.education,
.languages,
.achievement,
.interest {
  padding-top: 0.4rem;
  padding-bottom: 0.6rem;
  width: 90%;

  h5,
  h6 {
    color: rgb(107, 107, 107);
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.6rem;
  }

  span {
    margin-left: 0.3rem;
    font-weight: 400;

    &.interestItem {
      display: block;
      position: relative;

      &::before {
        position: absolute;
        content: '✔️';
        left: -2rem;
        font-size: 1.3rem;
      }
    }
  }

  a {
    text-decoration: none;
    color: rgb(86, 63, 90);
    font-weight: 700;
  }
  li {
    list-style: none;
    position: relative;
    padding: 0.2rem 0;
    &::before {
      content: '⚡';
      position: absolute;
      font-size: 1.1em;
      left: -2rem;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}

.skills {
  // background-color: burlywood;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  span {
    display: inline-block;
    width: max-content;
    padding: 0.7rem 1.3rem;
    background-color: rgba(131, 99, 99, 0.193);
    border-radius: 1.2rem;
  }
}

.footer {
  box-shadow: 0 -1px 1px 0 #dceeff;
  @include flex();
  justify-content: end;
  gap: 3rem;
  div {
    @include flex();
    gap: 1rem;
  }
  a {
    text-decoration: none;
  }
}

.test {
  z-index: 4;
  width: 27rem;
  height: 7rem;
  background-color: aqua;
}

// UN USED ANIMATION
@keyframes move-down {
  from {
    top: 0;
  }
  to {
    top: 3rem;
  }
}

// STYLE INPUT COMPONENT

.personal-description-input,
.experience-input,
.personal-project-input,
.education-input,
.personal-achievement-input,
.contact-link,
.skill-input,
.language-input,
.interest-input {
  background-color: #dceeff;
  padding: 1rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.4rem;
  margin: 0.3rem;

  input,
  textarea {
    padding: 0.3rem;
    border: 0;
    border-radius: 0.4rem;
  }

  textarea {
    resize: vertical;
  }
}

.radio-btn {
  grid-column: span 2;
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr;
  column-gap: 1rem;
  input {
    border: 0;
  }
}
